  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Fuerventura
        </div>
          <% Cloudinary::Api.resources_by_tag('model').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Marrakech
        </div>
          <% Cloudinary::Api.resources_by_tag('marrakech').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Beauty
        </div>
          <% Cloudinary::Api.resources_by_tag('beauty_portfolio').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Sotheby's
        </div>
          <% Cloudinary::Api.resources_by_tag('sothebys').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            77 Diamonds
        </div>
          <% Cloudinary::Api.resources_by_tag('77diamonds-other').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



<!-- class for images is class="col-md-4 for 2 images on one line
 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Stylist Magazine
        </div>
          <!-- GARDEN EDITORIAL for layout -->
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender.jpg" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender.jpg" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294566/hand_model_site/stylist_garden/FullSizeRender_4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294566/hand_model_site/stylist_garden/FullSizeRender_4.jpg" class="img-fluid rounded">
          </a>



          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender_2.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender_2.jpg" class="img-fluid rounded">
          </a>
           <a href="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender_4.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584294564/hand_model_site/stylist_garden/FullSizeRender_4.jpg" class="img-fluid rounded">
          </a>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Saint Iris
        </div>
          <% Cloudinary::Api.resources_by_tag('saint_iris').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Jabra
        </div>
          <% Cloudinary::Api.resources_by_tag('jabra').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            HP Technology
        </div>
          <% Cloudinary::Api.resources_by_tag('hp_technology').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Made in London - Golden Square
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592240189/hand_model_site/made_in_london/golden_square_final_no_subtitle_2.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            What Car
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1584114773/hand_model_site/what_car_commercial.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>









