<!--
<div class="container">
  <div class="col-md-12 d-flex justify-content-center job-categories">
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Beauty</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Food & Drink</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Tech</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Editorial</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">TV Commercials</button>
  </div> -->

<!-- GALLERY: L'OREAL -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            L'Oreal
        </div>
          <% Cloudinary::Api.resources_by_tag('loreal').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



<!-- GALLERY: STYLIST MAGAZINE -->
  <div class="row">
    <div class="col-sm-12 mb20">
    <div class="row">
       <div class="col-sm-3 job-name-column img-fluid rounded">
        Stylist Magazine
       </div>
       <!-- MILK and AUBERGINE EDITORIAL -->
           <a href="https://res.cloudinary.com/tttiff/image/upload/v1584296865/hand_model_site/stylist_garden/Stylist_Aubergine_Shoot.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584296865/hand_model_site/stylist_garden/Stylist_Aubergine_Shoot.jpg" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584296905/hand_model_site/stylist_garden/opener_f.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584296905/hand_model_site/stylist_garden/opener_f.jpg" class="img-fluid rounded">
          </a>
          <a href="https://res.cloudinary.com/tttiff/image/upload/v1584296906/hand_model_site/stylist_garden/shot-3.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/tttiff/image/upload/v1584296906/hand_model_site/stylist_garden/shot-3.jpg" class="img-fluid rounded">
          </a>


        </div>


    </div>
     <hr class="line" />
  </div>

<!-- GALLERY: 77 DIAMONDS -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            77 Diamonds
        </div>
          <% Cloudinary::Api.resources_by_tag('77diamonds-white-shirt').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


  <!-- GALLERY: BOUCHERER -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Boucherer
        </div>
          <% Cloudinary::Api.resources_by_tag('boucherer').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <!-- GALLERY: SELLOTAPE -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Sellotape
        </div>
          <% Cloudinary::Api.resources_by_tag('sellotape').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Waitrose
        </div>
          <% Cloudinary::Api.resources_by_tag('waitrose').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Ingle & Rhode
        </div>
          <% Cloudinary::Api.resources_by_tag('ingle_and_rhode').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Max Factor
        </div>
        <% Cloudinary::Api.resources_by_tag('max_factor').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Nails Inc
        </div>
        <% Cloudinary::Api.resources_by_tag('nails_inc').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Kenco
        </div>
          <% Cloudinary::Api.resources_by_tag('kenco').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Plenty
        </div>
          <% Cloudinary::Api.resources_by_tag('plenty').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Vype
        </div>
          <% Cloudinary::Api.resources_by_tag('vype').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            House of Fraiser
        </div>
          <% Cloudinary::Api.resources_by_tag('house_of_fraiser').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Chris Turner
        </div>
          <% Cloudinary::Api.resources_by_tag('chris_turner').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Elle Magazine
        </div>
          <% Cloudinary::Api.resources_by_tag('elle_magazine').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            ES Magazine
        </div>
          <% Cloudinary::Api.resources_by_tag('es_magazine').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


      <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Lucazade
        </div>
          <% Cloudinary::Api.resources_by_tag('lucazade').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Iceland -
            <br>Slimming World
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592234091/hand_model_site/iceland/rebecca_rauter_iceland_slimming_world.mp4"></iframe>
        </div>
        <div class="col-sm-3 ">
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592240802/hand_model_site/iceland/Iceland_Slimming_World.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>



<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Dominos
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
          <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592235852/hand_model_site/dominos/dominos_ad.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Bailey's
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592235850/hand_model_site/baileys/y2mate.com_-_BAILEYS_CONE_SWEET_CONE_y29P6VJab_g_1080p.mp4"></iframe>
        </div>
       <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592233986/hand_model_site/baileys/y2mate.com_-_Baileys_Hot_Chocolate_ZMsbM9ObqCI_1080p.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            O2
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592233968/hand_model_site/02/80226601_453441298902168_7995946869596923923_n.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
           Knorr
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
          <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236289/hand_model_site/knorr/Knorr.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Swarovski
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236293/hand_model_site/swarovski/Swarovski_Christmas.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Tesco
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
          <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592234460/hand_model_site/tesco/Tesco_Food_Love_Stories___Jane_s_Fish_Cakes_For_Two_Or_One.mp4">
          </iframe>

        </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Vanarama
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592234454/hand_model_site/vanarama/videoplayback_copy_2.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Nescafe
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236339/hand_model_site/nescafe/Nescafe.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Philadelphia
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236345/hand_model_site/philadelphia/philadelphia_ad.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Quaker
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592237683/hand_model_site/quaker/QuakerOatsUK_-_Large.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Starbucks
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236357/hand_model_site/starbucks/starbucks_social_video_long_edit.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Max Factor
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592236338/hand_model_site/max_factor/max_factor.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Lysoform
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          src="https://res.cloudinary.com/tttiff/video/upload/v1592243384/hand_model_site/lysoform/Lysoform_TVC.mp4">
          </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Cadburys - Fredo
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592234010/hand_model_site/cadbury/frog.mp4"></iframe>
        </div>
        <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592234008/hand_model_site/cadbury/fredo_mask.mp4"></iframe>
        </div>
        <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
        <div class="col-sm-8 video-container embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://res.cloudinary.com/tttiff/video/upload/v1592234006/hand_model_site/cadbury/cupcakes.mp4"></iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

</div>



<script>
  $(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
</script>

