<!--
<div class="container">
  <div class="col-md-12 d-flex justify-content-center job-categories">
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">All</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Beauty</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Food & Drink</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1">Tech</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">Editorial</button>
    <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="2">TV Commercials</button>
  </div> -->

<!-- GALLERY: HIA MAG-->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            HIA Magazine
        </div>
          <% Cloudinary::Api.resources_by_tag('hiamagazine').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing" >
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded" %>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<!-- GALLERY: L'OREAL -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            L'Oreal
        </div>
          <% Cloudinary::Api.resources_by_tag('loreal').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing" >
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded" %>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



<!-- GALLERY: STYLIST MAGAZINE -->
  <div class="row">
    <div class="col-sm-12 mb20">
    <div class="row">
       <div class="col-sm-3 job-name-column img-fluid rounded">
        Stylist Magazine
       </div>
       <!-- MILK and AUBERGINE EDITORIAL -->
           <a href="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054922/commercial/Stylist%20Magazine/opener_f_ihviwt.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054922/commercial/Stylist%20Magazine/opener_f_ihviwt.jpg" class="img-fluid rounded" alt= “hand_model_stylist_magazine_editorial” title= “hand_model_stylist_magazine”>
          </a>
          <a href="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054922/commercial/Stylist%20Magazine/shot-3_nawix7.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054922/commercial/Stylist%20Magazine/shot-3_nawix7.jpg" class="img-fluid rounded" alt= “hand_model_stylist_magazine_editorial” title= “hand_model_stylist_magazine”>
          </a>
          <a href="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054832/commercial/Stylist%20Magazine/Stylist_Aubergine_Shoot_yiibue.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-3">
            <img src="https://res.cloudinary.com/drgkvt0q0/image/upload/v1599054832/commercial/Stylist%20Magazine/Stylist_Aubergine_Shoot_yiibue.jpg" class="img-fluid rounded" alt= “hand_model_stylist_magazine_editorial” title= “hand_model_stylist_magazine”>
          </a>


        </div>


    </div>
     <hr class="line" />
  </div>

<!-- GALLERY: 77 DIAMONDS -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            77 Diamonds
        </div>
          <% Cloudinary::Api.resources_by_tag('77diamonds-hands').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


  <!-- GALLERY: BOUCHERER -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Boucherer
        </div>
          <% Cloudinary::Api.resources_by_tag('boucherer').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <!-- GALLERY: SELLOTAPE -->
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Sellotape
        </div>
          <% Cloudinary::Api.resources_by_tag('sellotape').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Waitrose
        </div>
          <% Cloudinary::Api.resources_by_tag('waitrose').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Ingle & Rhode
        </div>
          <% Cloudinary::Api.resources_by_tag('ingle_and_rhode').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Max Factor
        </div>
        <% Cloudinary::Api.resources_by_tag('max_factor').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Nails Inc
        </div>
        <% Cloudinary::Api.resources_by_tag('nails_inc').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Kenco
        </div>
          <% Cloudinary::Api.resources_by_tag('kenco').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Plenty
        </div>
          <% Cloudinary::Api.resources_by_tag('plenty').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Vype
        </div>
          <% Cloudinary::Api.resources_by_tag('vype').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            House of Fraiser
        </div>
          <% Cloudinary::Api.resources_by_tag('house_of_fraiser').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Chris Turner
        </div>
          <% Cloudinary::Api.resources_by_tag('chris_turner').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Elle Magazine
        </div>
          <% Cloudinary::Api.resources_by_tag('elle_magazine').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            ES Magazine
        </div>
          <% Cloudinary::Api.resources_by_tag('es_magazine').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>


      <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Lucazade
        </div>
          <% Cloudinary::Api.resources_by_tag('lucazade').map do |results, image| %>
            <% image.map do |key| %>
              <a href= <%= key["url"] %> data-toggle="lightbox", data-gallery="gallery", class="col-md-3 image-spacing">
              <%= image_tag key["url"], alt: "tiffany charles hand model london", class: "img-fluid rounded"%>
              </a>
            <% end %>
          <% end %>
      </div>
    </div>
    <hr class="line" />
  </div>






  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Iceland -
            <br>Slimming World
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059515/Iceland%20-%20Slimming%20World/Iceland_Slimming_World_s0kegv.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
        <div class="col-sm-3 ">
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059536/Iceland%20-%20Slimming%20World/rebecca_rauter_iceland_slimming_world_kwlian.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
      </div>
    </div>
    <hr class="line" />
  </div>



<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Dominos
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
          <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059598/Dominos/dominos_ad_culfkr.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Bailey's
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
          <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059636/Bailey%27s/y2mate.com_-_Baileys_Hot_Chocolate_ZMsbM9ObqCI_1080p_he17of.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
       <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
          <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059642/Bailey%27s/y2mate.com_-_BAILEYS_CONE_SWEET_CONE_y29P6VJab_g_1080p_mhgzvc.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            O2
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059697/O2/80226601_453441298902168_7995946869596923923_n_gncdbq.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
      </div>
    </div>
    <hr class="line" />
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
           Knorr
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
          <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059730/Knorr/Knorr_smmj0i.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Swarovski
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059757/Swarovski/Swarovski_Christmas_mia1u4.mov" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Tesco
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
          <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059824/Tesco/Tesco_Food_Love_Stories___Jane_s_Fish_Cakes_For_Two_Or_One__2_cga51h.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>

        </iframe>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Vanarama
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059877/Vanarama/videoplayback_copy_2_i0v67n.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Nescafe
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059936/Nescafe/Nescafe_video_ctjisz.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Philadelphia
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059968/Philadelphia/philadelphia_ad_zp0olh.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
         <div class="col-sm-3 ">
        </div>
        <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060653/Philadelphia/new-york-philadelphia-cheesecake-video-720p-mp4_cspph1.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Quaker
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060406/Quaker/QuakerOatsUK_-_Large_kuqht8.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Starbucks
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060450/Starbucks/starbucks_social_video_long_edit_jwrpoy.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>

    <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Max Factor
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599059091/Max%20Factor/max_factor_ad_qyxr7v.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>



  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Lysoform
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source
          class="embed-responsive-item"
          src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060729/Lysoform/Lysoform_TVC_fxp2du.mp4" type="video/mp4" alt= "tiffany_charles_tv_commercial_hand_model_london" />
        </video>
        </div>
      </div>
    </div>
    <hr class="line" />
  </div>


<div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 job-name-column img-fluid rounded">
            Cadburys - Fredo
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060759/Cadburys%20-%20Fredo/cupcakes_xhqxnv.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
        <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060766/Cadburys%20-%20Fredo/frog_mvnanj.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
        <!--  BELOW KEEPS VIDEOS ON LINE -->
        <div class="col-sm-3 ">
        </div>
         <video class="col-sm-8 video-container video-fluid z-depth-1" loop controls muted>
        <source class="embed-responsive-item" src="https://res.cloudinary.com/drgkvt0q0/video/upload/v1599060771/Cadburys%20-%20Fredo/fredo_mask_ms8soc.mp4" type="video/mp4" alt= "tiffany_charles_hand_model_london"/>
        </video>
      </div>
    </div>
    <hr class="line" />
  </div>

</div>



<script>
  $(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
</script>

